.button {
    background-color: rgb(14, 14, 14);
    font-size: 30px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    -unity-font-style: bold;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}
